/* flex布局 */
.layout-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 16px;
    font-family: "Arial Negreta", "Arial Normal", "Arial", sans-serif;
    user-select: none;
    background: url(@/assets/image/bg-bsr.jpg) center no-repeat;
    background-size: 100% 100%;
    background-color: #01072f;
}